* {
    margin: 0;
    padding: 0;
}

body {
    background: #f2f2f2;
    font-family: Arial;
}
.cajaPadre {
    background: #2e294a;
    width: 700px;
    overflow: hidden;/*segunda forma del error del padre caja*/
}
.caja {
    width: 200px;
    color: #fff;
    font-size:38px;
    height: 200px;
    background: #0e6ba8;
    margin: 20px;
    
    
}
.uno {
    float: left;
}
.dos {
    float: right;
}
/*primera forma despues de los botones en el html*/
/*.clear {
    clear:both;
}*/
/*la propiedad float se creo para poner texto al rededor de la iamgen como esto*/
.articulo {
    width: 800px;
    background: #ccc;  
}
.articulo img {
    float: left;
}
