/*selector de hijos*/
/*div directo sin pasar por un article*/
div > p {
    font-size: 20px;
}
/*selector de atributos*/
/*input[type] {

}*/

/*atributo y valor*/
/*input[type="text"] {

}*/

/*herencia*/
body {
    font-size: 25px;
    color: blue;
}
/*hereda pero si se sobreescribe cambia automaticamente*/
article {
    font-size: 16px;
    color: black;
}