.texto {
   /* text-shadow: 2px 3px 5px #000;/*primera es posicion de sonbra,posicion vertical,tamaño de sombra a menor valor mas solida sombra*/
    color: #fff;
    text-shadow: 2px 0px 10px blue;
}
.caja {
    width: 200px;
    height: 200px;
    background: #f79256;
    box-shadow: 0 5px 10px rgba(0, 0, 0,.5);
}